---
import Mainlayout from "../layouts/Mainlayout.astro";
---

<Mainlayout title="Italo Disco">
	<main>
		<div class="video">
			<div class="video">
		        <video width="100%" height="100%" id="videoweb" width="320" height="240" autoplay muted loop>
		            <source src="forside.webm" type="video/mp4">
		        </video>
		        <video width="100%" height="100%" id="videmobil" width="320" height="240" autoplay muted loop>
		            <source src="http://www.eddasolj.dk/kea2/07_web/video/lightfestival (9x16).mp4" type="video/mp4">
		        </video>
			</div>
		</div>
		<div id="book">
			<a href="/">CLICK TO BOOK A TABLE</a>
		</div>
	</main>
</Mainlayout>

<style>
	.video {
		margin-left: 90px;
		margin-right: 90px;
		margin-top: 20px;
	}

	/* CSS Reset */
	body, h1, p, ul, li {
		margin: 0;
		padding: 0;
	}

	body {
		font-family: "owners-text", sans-serif;
		font-weight: 600;
		font-style: normal;
		background-color: #FFF7FE;
	}

	@media (max-width: 800px) {
		#videoweb {
			display: none;
			z-index: 1;
		}
	}

	@media (min-width: 800px) {
		#videmobil {
			display: none;
		}
	}

	#book {
		display: flex;
		position: absolute;
		right: 30px; /* Adjust the position as needed */
		transition: transform 0.3s; /* Add smooth transition effect for transform property */
		bottom: 50px;
		font-size: 20px;
	}

	#book a {
		color: #203ED8;
		text-decoration: none; /* Remove underline from the link */
		padding: 10px;
		transition: font-size 0.3s; /* Add smooth transition effect for font-size property */
	}

	#book:hover a {
		font-size: 30px; /* Change font size on hover */
	}
</style>
