<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    footer {
      color: #fff;
      text-align: center;
      padding: 20px 0;
    }

    #logofooter {
      display: block;
      margin: 0 auto;
      max-width: 200px; /* Adjust the size as needed */
    }

    hr {
      border: 0;
      height: 1px;
      background: #EC5944; /* Change this to your desired color */
      margin: 20px;
      border-bottom: 1px solid #EC5944; /* Add this line to set the border style and color */
    }

    #contact-info {
      margin-bottom: 20px;
    }

    #social-icons {
      margin: 20px 0;
      width: 100%;
      height: 100%;
    }

    #social-icons img {
      width: 100px; /* Set the desired width */
      height: auto; /* Let the height scale automatically to maintain aspect ratio */
      margin: 0 10px; /* Optional: Add some margin between the icons */
    }

    #newsletter {
      margin: 20px 0;
      color: #EC5944;
    }

    #email-input {
      padding: 5px;
      width: 200px; /* Adjust the width as needed */
    }

    #subscribe-button {
      background-color: blue;
      color: #203ED8;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }

    #map {
      width: 100%;
      max-width: 1200px; /* Adjust the max-width as needed */
      margin: 20px auto;
    }

    #contact-info {
      font-family: "owners-text", sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #EC5944;
    }
  </style>
</head>
<body>

  <footer>
    <img src="/italodiscologo.png" alt="Logo" id="logofooter">
    <hr>
    <div id="contact-info">
     OEHELENSCHLÆGERGADE 5, 1663 KØBENHAVN<br>
      +45 28 58 16 63 - italodisco@italodisco.dk<br>
      TUESDAY - SUNDAY<br>
      17:30 - 00:00 
    </div>
    <div id="social-icons">
      <!-- Add your Instagram and Facebook icons here -->
      <img src="/instalogo.png" alt="Instagram" width="40" height="40">
    </div>
    <div id="newsletter">
      SUBSCRIBE TO NEWSLETTER<br> <br>
      <input type="text" id="email-input" placeholder="Type your email here...">
      <button id="subscribe-button">&#9658;</button>
    </div>
    <div id="social-icons">
      <!-- Add your Instagram and Facebook icons here -->
      <img src="/disco.png" alt="Instagram" width="40" height="40">
    </div>
    <div id="map">
      <img src="/mapitalo.png" alt="Map" class="footer-map">
    </div>
  </footer>

</body>
</html>

<style>
  footer {
    position: absolute;
    width: 100%;
  }

  .footer-map {
    width: 100%;
    max-height: none; 
    object-fit: cover; 
    object-position: center; 
    margin-top: auto; 
    display: block; 
  }
</style>
